.aside {
    background-color: #131313;
    position: absolute;
    width: 472px;
    height: 82px;
    left: -313px;
    top: 311px;
    transform: rotate(90deg);
    padding-left: 235px;
    line-height: 82px;
    &--link{
        text-decoration: none;
        position: relative;
        color: #E3B873;
        font-weight: 700;
        @include FuturaDemiC(0.875rem);
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: 51px;
            bottom: 8px;
            left: 92px;
            background-color: #E3B873;
        }
    }
}

.invite-section {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(/dist/asserts/img/imageFirstS.png);
    width: 94%;
    height: 707px;
    margin-left: 84px;
}

.wrapper--main--text {
    position: absolute;
    top: 152px;
    left: 144px;
    z-index: 2;
    color: #fff;
}

.wrapper--main--text h2 {
    @include Yeseva(3rem);
    font-weight: 100;
    line-height: 53px;
}

.wrapper--main--text p {
    padding-bottom: 41px;
    @include FuturaBookC(22px);
    font-weight: 100;
    line-height: 30px;
}

.scroll {
    position: relative;
    background-color: $color-black;
}
