.aside {
  position: absolute;
  top: 311px;
  left: -313px;
  width: 472px;
  height: 82px;
  padding-left: 235px;
  line-height: 82px;
  background-color: #131313;
  transform: rotate(90deg);
  &--link {
    position: relative;
    font-weight: 700;
    color: #e3b873;
    text-decoration: none;

@include FuturaDemiC(0.875rem);

    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      left: 92px;
      display: block;
      width: 51px;
      height: 2px;
      background-color: #e3b873;
    }
  }
}

.projects--logo-h2 {
  position: relative;
}

.invite-section {
  width: 94%;
  height: 707px;
  margin-left: 84px;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(/dist/asserts/img/imageFirstS.png);
}

.wrapper--main--text {
  position: absolute;
  top: 152px;
  left: 144px;
  z-index: 2;
  color: #ffffff;
}

.wrapper--main--text h2 {
  font-weight: 100;
  line-height: 53px;

@include Yeseva(3rem);

  & span {
    color: #e3b873;
  }
}

.wrapper--main--text p {
  padding-bottom: 41px;
  font-weight: 100;
  line-height: 30px;

@include FuturaBookC(22px);
}

.scroll {
  position: relative;
  background-color: $color-black;
}

.completed-projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-black;
}

.projects {
  margin-top: 143px;
  margin-left: 92px;
  background-color: $color-black;
}

.projects--logo {
  & h2 {
    font-weight: normal;
    line-height: 37px;
    color: #e3b873;
    text-transform: uppercase;
    letter-spacing: -0.07em;

@include Yeseva(1.7rem);

    &::after {
      content: "";
      position: absolute;
      bottom: 17px;
      left: 167px;
      display: block;
      width: 92px;
      height: 1px;
      background-color: #e3b873;
    }
  };
  & p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 100;
    line-height: 29px;
    color: #ffffff;

@include FuturaBookC(1.125rem);
  };
}

.projects--text-first {
  margin-bottom: 30px;
  line-height: 20px;
  color: #ffffff;

@include flex(space-between);

@include FuturaBookC(0.94rem);

  & h2 {
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: #e3b873;
    text-transform: uppercase;

@include Yeseva(1.125rem);
  }
}

.projects--text-second {
  max-width: 88%;
  line-height: 20px;
  color: #ffffff;

@include FuturaBookC(0.94rem)

@include flex(space-between);

  & h2 {
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: #e3b873;
    text-transform: uppercase;

@include Yeseva(1.125rem);
  }
}

.arrow-first,
.arrow-second {
  cursor: pointer;
}

.projects--text-arrow {
  width: 55%;
  margin-top: 66px;

@include flex(space-between);

  & .circles {
    width: 64px;

@include flex(space-between);

    & .c1 {
      width: 10px;
      height: 10px;
      font-weight: 15px;
      background: #ffffff;
      border-radius: 30px;
    }

    & .c3 {
      width: 10px;
      height: 10px;
      font-weight: 15px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
    }
  }
}

.slider {
  max-width: 58%;
  overflow: hidden;
}

.slider--menu {
  margin-top: 107px;
  &-ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style-type: none;
    &.slider--menu-ul-link {
      display: flex;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.slider--menu-ul li {
  margin-right: 52px;
}

.slider--menu-ul li a {
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  text-decoration: none;

@include Yeseva(0.875rem);
}

.slider--menu-ul li a:hover {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
}

.slider--images {
  position: relative;
  display: flex;
  margin-top: 43px;
  &-sochi {
    margin-left: 20px;
  }
}

/*Online Control Section*/
.online-control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 92px 0 62px 0;
  &-text {
    display: flex;
    flex-direction: column;
  }
  & p {
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

@include Yeseva(1.25rem);
  }
  & img {
    margin-top: 13px;
    padding-bottom: 32px;
  }
}

/*Personal Form Section*/
.container-personal {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding-bottom: 204px;

@include flex(center);
}

.personal-form {
  &--line {
    width: 56px;
    height: 2px;
    background: #e3b873;
  }
  &--text {
    width: 680px;
    padding: 34px 0 0 0;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    text-align: center;
    color: #363636;

@include FuturaBookC(1.25rem);
  }
  &--form {
    padding: 94px 0 34px 0;

@include flex(center);
  }
}

.input-text {
  font-family: FuturaBookC;
  color: rgba(54, 54, 54, 0.5);

@include input-text(1.25rem);
}

.text::placeholder {
  color: #141414;
}

input[type=text] {
  width: 230px;
  margin-right: 50px;
  padding-bottom: 6px;
  font-weight: normal;
  line-height: 24px;
  color: #242323;
  border: 0;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
  cursor: pointer;
  transition: 0.1s ease;

@include FuturaBookC(1.3rem);
}


.control-checkbox {
  position: relative;
  padding-left: 34px;
  cursor: pointer;

@include FuturaBookC(1rem);

  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.control-indicator {
  position: absolute;
  top: -2px;
  left: 0;

@include box-indicator();

  &::after {
    content: " ";
    position: absolute;
    top: 2px;
    left: 6px;

@include check-mark();
  }
}

.control-checkbox input[type="checkbox"] + .control-indicator::after {
  content: none;
}

.control-checkbox input[type="checkbox"]:checked + .control-indicator::after {
  content: "";
}
/*Types of repair section*/
.types-repair {
  &--icons {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    & h2 {
      font-style: normal;
      font-weight: normal;
      line-height: 28px;
      text-align: center;
      color: #181818;
      text-transform: uppercase;

@include Yeseva(1.3rem);
    }
  }
}

.types-repair--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &-img {
    position: relative;
    height: 681px;
  }
  &-img:not(:first-child) {
    margin-left: 30px;
  }
}

.types-repair--cards-img-desc {
  position: absolute;
  top: 290px;
  left: 30px;
  padding: 26px 30px 50px 34px;
  background: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  & h3 {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: #363636;

@include Yeseva(1.125rem);
  }
  & ul {
    width: 250px;
    padding-left: 20px;
    color: #959595;
    & li {
      font-style: normal;
      font-weight: normal;
      line-height: 27px;

@include FuturaBookC(1.2rem);
    }
  }
}

/*Required section*/
.required .wrapper--main {
  justify-content: flex-end;
}

.circle {
  position: relative;
  margin-left: -27px;
  padding-right: 335px;
  padding-bottom: 50px;
  overflow: hidden;
  background: url(/dist/asserts/img/buildings.png);
  background-repeat: no-repeat;
  background-position-x: 157px;
  &-orange {
    width: 600px;
    height: 600px;
    margin-left: -3px;

/* background: transparent, linear-gradient(#ffffff,#ffffff) padding-box,
    linear-gradient(to right, #ffffff 0%, #ffffff 20%, #ffffff 20%, #e3b873 100%) border-box;*/
    background-repeat: no-repeat;
    border-top: 1px solid  #e3b873;
    border-right: 3px solid  #e3b873;
    border-bottom: 1px solid  #e3b873;
    border-radius: 100%;
  }
}

.circle-orange--text-box:nth-child(1) {
  position: absolute;
  top: 62px;
  left: 488px;
  width: 46%;
}

.circle-orange--text-box:nth-child(2) {
  position: absolute;
  top: 176px;
  left: 552px;
}

.circle-orange--text-box:nth-child(3) {
  position: absolute;
  top: 328px;
  left: 560px;
}

.circle-orange--text-box:nth-child(4) {
  position: absolute;
  top: 457px;
  left: 501px;
}

.circle-orange--text-box {
  display: flex;
  justify-content: space-between;
  line-height: 21px;
  color: #363636;
  background-color: #ffffff;
  border: 10px solid #ffffff;

@include FuturaMediumC(1.125rem);

  &-number {
    flex-grow: 0;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    line-height: 42px;
    text-align: center;
    color: white;
    background: #e3b873;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);

@include Yeseva(1.125rem);
  }
  &-span {
    padding-left: 10px;
  }
}

.p {
  position: absolute;
  top: 0;
  left: -130px;
}

.required--form {
  padding: 62px 66px 0 54px;
  & form {
    flex-direction: column;
    align-items: center;
    padding: 28px 48px;
    background: $color-black;

@include flex(center);

    & h3 {
      width: 280px;
      margin: 0;
      padding: 0;
      line-height: 25px;
      text-align: center;
      color: #ffffff;

@include FuturaDemiC(1.25rem);
    }
    & .text {
      width: 408px;
      padding-top: 50px;
      & p {
        font-family: "FuturaBookC";
        color: rgba(255, 255, 255, 0.5);

@include input-text(1rem);
      }
      & .text-required {
        width: 100%;
        margin-right: 50px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: normal;
        line-height: 24px;
        color: #ffffff;
        background: #131313;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        outline: none;
        cursor: pointer;

@include FuturaBookC(1.125rem);
      }
    }
    & .control-checkbox {
      align-self: flex-start;
      margin-top: 18px;
      line-height: 22px;
      color: white;

@include FuturaBookC(1.2rem);
    }
  }
}

.text-required::placeholder {
  line-height: 25px;
  color: #ffffff;

@include FuturaMediumC(1.125rem);
}

.required--form-save {
  display: flex;
  width: 364px;
  padding-top: 40px;
  font-size: 20px;
  line-height: 25px;
  font-family: FuturaDemiC;
  color: #e3b873;
  text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);;
}

/*Section fantasies*/
.fantasies {
  padding-top: 242px;
  padding-bottom: 42px;

@include flex(center);

  &--navbar {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    & h2 {
      margin: 0;
      padding-top: 146px;
      font-style: normal;
      font-weight: normal;
      line-height: 37px;
      color: #e3b873;
      text-transform: uppercase;

@include Yeseva(1.7rem);
    }
    &-menu {
      margin: 0;
      padding: 0;
      padding-top: 32px;
      list-style-type: none;
      text-decoration: none;
      &-link {
        line-height: 34px;
        color: #ffffff;
        text-decoration: none;

@include Proxima(01.25rem);
      }
    }
  }
}

.fantasies--navbar-menu li:not(:first-child) {
  margin-top: 18px;
}

.fantasies--navbar-menu-link:hover {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;;
}

.fantasies--img {
  position: relative;
  width: 52%;
  padding-right: 100px;

@include flex(flex-end);

  &-first {
    position: absolute;
    top: -41px;
    left: 1px;
    flex-direction: column;
    height: 948px;

@include flex(space-between);
  }
  &-second {
    flex-direction: column;
    height: 938px;
    margin-top: -109px;

@include flex(space-between);
  }
}

/* Design Project section*/
.design-project {
  & .wrapper--main {
    & p {
      align-self: center;
      margin: 0;
      padding: 8px 0 40px 0;
    }
    & .types-repair--cards {
      &-img {
        &-desc ul li {
          font-size: 1rem;
        }
      }
    }
  }
}

/*Steps Section*/

.steps--description {
  padding-top: 53px;
  & .work {
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;

@include FuturaDemiC(1rem);
  }
  & h3 {
    position: relative;
    display: flex;
    margin-top: 18px;
    margin-bottom: 92px;
    font-style: normal;
    font-weight: normal;
    line-height: 37px;
    color: #e3b873;
    text-transform: uppercase;

@include Yeseva(01.7rem);
  }
  & .line {
    position: absolute;
    top: 54px;
    left: 218px;
    width: 92px;
    height: 1px;
    background: #e3b873;
  }
}

.steps--goal-steps {
  min-width: 62%;
  & img {
    padding-top: 70px;
  }
}

.steps--description-text {
  & span {
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: #ffffff;
    text-transform: uppercase;

@include Yeseva(1.125rem);
  }
  & h2 {
    margin-top: 22px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    color: #e3b873;
    text-transform: uppercase;

@include Yeseva(1rem);
  }
  & p {
    line-height: 25px;
    color: #ffffff;

@include FuturaBookC(1rem);
  }
  & .second-p {
    padding-bottom: 55px;
  }
  & .projects--text-arrow {
    width: 287px;
    & .circles {
      width: 145px;
    }
  }
}

.steps--goal-steps-flex {
  padding-top: 150px;

@include flex(space-between);

  &-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82px;
    height: 178px;
  }
}

.steps-block {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  & .steps-text {
    line-height: 18px;

@include FuturaBookC(0.95rem);
  }
  & .steps-number {
    width: 19px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    border-bottom: 1px solid #e3b873;

@include Yeseva(1rem);
  }
}

.steps-block:hover {
  color: #ffffff;
}

/*Team Section*/
.team {
  & .types-repair--cards {
    flex-wrap: wrap;
    padding-top: 84px;
    &-img {
      height: 500px;
    }
  }
  & .types-repair--cards-img:not(:first-child) {
    margin-left: 106px;
  }
  & .types-repair--icons h2 {
    color: #ffffff;
  }
  & .personal-form--text {
    margin: 0;
    padding: 23px 0 40px 0;
    color: #ffffff;
  }
  & .types-repair--cards-img-desc {
    left: 22px;
    padding: 0;
    & h3 {
      padding: 22px 20px 9px 20px;
      font-style: normal;
      font-weight: normal;
      line-height: 25px;
      text-align: center;
      color: #181818;

@include Yeseva(1.125rem);
    }
    & p {
      margin: 0;
      padding: 9px 23px 24px 23px;
      line-height: 26px;
      text-align: center;
      color: #959595;

@include FuturaBookC(1.125rem);
    }
    & .work-experience {
      padding: 14px 23px;
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      background: #e3b873;

@include Yeseva(0.8rem);
    }
  }
}
.icons-team {
  position: absolute;
  top: -58px;
  left: -54px;
}

.team-text {
  width: 558px;
  margin: 0;
  padding-top: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  color: #363636;
@include FuturaBookC(1.25rem);
}




