
.header {
  @include flex(space-between);
  &--container {
    max-width: 1256px;
    margin: 0 auto;

@include flex(space-between);
  }
}

.header--container {
  display: flex;
  width: 100%;
  margin-left: 104px;
}

.header--container-h1 {
  margin: 0;
  white-space: nowrap;
  &-logo {
    line-height: 83px;
    color: #e3b873;
    text-decoration: none;

@include FuturaDemiC(0.875rem);
  }
}

.header--container-nav {
  width: 55%;
  margin: 15px 53px 15px 93px;
}

.nav-switcher {
  @include flex(space-between);

@include unlist();
}

.nav-switcher-link {
  color: #ffffff;

@include unlist();

@include FuturaBookC(0.875rem);
}

.nav-switcher-link:hover {
  color: #e3b873;
}

.header--container-block {
  align-items: center;
  width: 38%;

@include flex(space-between);

  &-phone-link {
    color: #e3b873;
    border-bottom: 1px solid #e3b873;

@include FuturaDemiC(0.875rem);

@include unlist();
  }
}
