.header--container-block-button {
  width: 161px;
  height: 37px;
  text-align: center;
  color: #ffffff;
  background-color: #e3b873;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);

@include FuturaDemiC(0.8125rem);
}

.first-section__button {
  margin-right: 20px;
  padding: 19px 42px 21px 41px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);

@include FuturaDemiC(0.8rem);
}

.first-section__button:hover {
  background-color: #e3b873;
}

.scroll-button {
  position: absolute;
  top: -52px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 49px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $color-black;
  border: none;

@include Yeseva(0.875rem);

  & img {
    margin-left: 15px;
  }
}

.slider--images-btn-right {
  position: absolute;
  bottom: 198px;
  left: 723px;
  z-index: 2;
  background: transparent;
  border: none;
  &img {
    box-shadow: 0 0 15px rgba(227, 184, 115, 0.5);
  }
}

.personal-form--form-btn {
  width: 200px;
  height: 52px;
  font-weight: 600;
  line-height: 52px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background: #e3b873;
  border: 0;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
  cursor: pointer;

@include FuturaDemiC(0.94rem);
  &:hover {
    background: #d69833;
  }
}




