.wrapper {
    background-color: $color-black;
    &--inner {
      @include container();
      position: relative;
   }
 }

 .wrapper--second{
  background-color: $color-black;
 }
 .wrapper--main {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
 }

 