.wrapper {
  background-color: $color-black;
  &--inner {
    position: relative;

@include container();
  }
}

.wrapper--second {
  background-color: $color-black;
}
.wrapper--main {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper-control {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #131313 0%, #131313 65%, white 65%, white 100%);
}

.personal-form {
  background-color: #ffffff;

@include flex(center);
}

.types-repair {
  & .wrapper--main {
    flex-direction: column;
    padding-bottom: 116px;;
  }
}

.required {
  @include flex(center);
}

