.wrapper {
  background-color: $color-black;
  &--inner {
    position: relative;

@include container();
  }
}

.wrapper--second {
  background-color: $color-black;
}
.wrapper--main {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper-control {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #131313 0%, #131313 65%, white 65%, white 100%);
}

.personal-form {
  background-color: #ffffff;

@include flex(center);
}

.types-repair {
  & .wrapper--main {
    flex-direction: column;
    padding-bottom: 116px;
  }
}

.required {
  min-height: 700px;

@include flex(center);
}

.fantasies {
  & .wrapper--main {
    justify-content: space-between;
    height: 864px;
    overflow: visible;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/dist/asserts/img/appartment.png);
    background-repeat: no-repeat;
  }
}

.design-project {
  padding-top: 113px;
  background: linear-gradient(to bottom,#ffffff  0% ,#ffffff  60% ,#131313 60%, #131313 100%);
  & .wrapper--main {
    flex-direction: column;
    overflow: visible;
  }
}

.steps {
  background-color: $color-black;
  & .wrapper--main {
    justify-content: space-between;
    padding-top: 6px;

@include mainContent();
  }
}

.team {
  background: linear-gradient(to bottom, #131313 0%, #131313 57%,#ffffff 57%, #ffffff 100%);

  & .wrapper--main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;

@include mainContent();
  }
}

.clients {
  & .wrapper--main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 89px;

@include mainContent();
  }
}

