@mixin container(){
    max-width: 1440px;
    margin: 0 auto;
}

@mixin flex($space) {
    display: flex;
    justify-content: $space;
}

@mixin FuturaDemiC($font-size) {
    font-family: "FuturaDemiC",sans-serif;
    font-size: $font-size;    
}

@mixin FuturaBookC($font-size) {
    font-family: "FuturaBookC",sans-serif;
    font-size: $font-size;    
}

@mixin Yeseva($font-size) {
    font-family: "Yeseva One",sans-serif;
    font-size: $font-size;    
}

@mixin unlist() {
    text-decoration: none;
    list-style-type: none;
}