@mixin container() {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin mainContent() {
  max-width: 1236px;
  margin: 0 auto;
}

@mixin flex($space) {
  display: flex;
  justify-content: $space;
}

@mixin FuturaDemiC($font-size) {
  font-size: $font-size;
  font-family: "FuturaDemiC",sans-serif;
}

@mixin FuturaBookC($font-size) {
  font-size: $font-size;
  font-family: "FuturaBookC",sans-serif;
}

@mixin Yeseva($font-size) {
  font-size: $font-size;
  font-family: "Yeseva One",sans-serif;
}

@mixin FuturaMediumC($font-size) {
  font-size: $font-size;
  font-family: "FuturaMediumC",sans-serif;
}

@mixin Proxima($font-size) {
  font-size: $font-size;
  font-family: "Proxima Nova",sans-serif;
}

@mixin unlist() {
  list-style-type: none;
  text-decoration: none;
}

@mixin input-text($font-size) {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size;
  line-height: 20px;
}

@mixin check-mark() {
  display: block;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@mixin box-indicator() {
  width: 18px;
  height: 18px;
  background: #e3b873;
  border: 2px solid #e3b873;
}
